#countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.countryCard {
    display: flex;
    flex-direction: column;
    color: var(--text);

    border: 1px solid gray;
    border-radius: 0 0 .5rem .5rem;
    line-height: 120%;
    position: relative;

    font-size: 12px;

    text-decoration: none;

    overflow: hidden;
    cursor: pointer;
    transition: transform 125ms;
    & img {
        width: 100%;
    }
    &:hover {
        transform: scale(1.05);
    }
    & .body {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex-grow: 1;
        & >*:last-child {
            flex-grow: 1;
        }
        & .val>div:not(:last-child) {
            border-bottom: 1px solid gray;
        }
    }
    &.dependent {
        font-style: italic;
        & .body {
            opacity: 0.5;
        }
    }
    &.missingSortKey {
        filter: grayscale(1);

        & .missing-alert {
            display: block;
        }
    }
    & .missing-alert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--bg);
        color: var(--text);
        padding: 2rem;
        border: 1px solid var(--text);
        border-radius: .5rem;
        display: none;
    }
}

#search-bar {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.fieldset {
    background-color: var(--infoCard);
    padding: .25rem;
    border-radius: .25rem;

    & .key {
        text-align: center;
        background-color: var(--infoCard);
    }
}

.field {
    display: flex;
    gap: .5rem;
    & .prop {
        &::first-letter {
            text-transform: capitalize;
        }
        font-weight: bold;
    }
    & .val {
        /* display: flex;
        flex-direction: column;
        gap: .5rem; */
    }
}

#country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    & #country-head {
        padding-top: 3rem;
    }
    & .flag {
        & img {
            width: 100%;
            margin-bottom: 2rem;
            display: block;
        }
    }
    & #country-body {
        & > * {
            margin-bottom: 1rem;
        }
    }
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        display: flex;

    }
}

.checkbutton {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter {
    display: flex;
    gap: 1rem;
}