body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: .5rem;
    border: 0;
    border-radius: .5rem;
    margin: .25rem;
    background-color: var(--text);
    color: var(--bg);
}

input {
    padding: .5rem;
    border-radius: .5rem;
    margin: .25rem;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    &:focus {
        outline: 1px dashed var(--text);
    }
}