@media screen and (max-width: 825px) {
    #countries {
        grid-template-columns: 1fr 1fr;
    }
    #search-bar {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 1rem;
    }
    #countries {
        grid-template-columns: 1fr;
    }
    #country {
        grid-template-columns: 1fr;
    }
}
