.question {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

    border: 1px solid gray;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;

    &:nth-child(even) {
        background-color: var(--textx);
    }
}

.image img {
    width: 100%;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choice img {
    width: 100%;
}

.chosen {
    outline: 4px solid var(--correct);
}

#quiz-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
        width: 450px;
        max-width: 100%;
    }
}

.quiz-result {
    border: 1px solid gray;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.quiz-result_q {
    display: flex;
    align-items: center;
    gap: .5rem;
    & img {
        width: 50px;
    }
}

.quiz-result_x {
    display: flex;
    gap: 1rem;
    & img {
        width: 50px;
    }
    & .label {
        font-weight: bold;
    }
}