@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    transition: all 125ms;

    --bg: #f5f5f5;
    --bgt: #f5f5f599;
    --text: #101010;
    --textt: #10101099;
    --infoCard: rgba(0,0,0,0.1);
    --correct: rgb(0, 130, 54);
    --incorrect: rgb(159, 0, 0);
    --texta: #454545;
    --textx: rgba(0,0,0,0.1);
    &.dark{
        --bg: #0c0c0c;
        --bgt: #0c0c0c99;
        --text: #f5f5f5;
        --textt: #f5f5f599;
        --texta: #ababab;
        --infoCard: rgba(255,255,255,0.1);
        --textx: rgba(255,255,255,0.1);
    }

    background-color: var(--bg);
    color: var(--text);
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: .5rem;
    border: 0;
    /* border-radius: .5rem; */
    margin: .25rem;
    background-color: var(--text);
    color: var(--bg);

    &:hover {
        background-color: var(--texta);
    }
}

input {
    padding: .5rem;
    /* border-radius: .5rem; */
    margin: .25rem;
    border: 0;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .2); */
    &:focus {
        outline: 1px dashed var(--text);
    }
}


* {
    margin: 0; 
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

header {
    padding: .75rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

header h1 {
    font-family: 'Jaro';
    font-size: 3rem;
}

header a {
    color: var(--text);
}

main {
    padding: 2rem;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

select {
    border-radius: 0;
    background-color: var(--text);
    color: var(--bg);
    border: 0;
}

input[type="checkbox"] {
    transform: scale(2) translateY(-25%);
    cursor: pointer;
}