@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&family=Satisfy&display=swap');

@import './elements.css';

body {
    transition: all 125ms;

    --bg: #f5f5f5;
    --text: #101010;
    --infoCard: rgba(0,0,0,0.1);
    &.dark{
        --bg: #0c0c0c;
        --text: #f5f5f5;
        --infoCard: rgba(255,255,255,0.1);
    }

    background-color: var(--bg);
    color: var(--text);
}

* {
    margin: 0; 
    box-sizing: border-box;
    font-family: "Poppins", "Helvetica", sans-serif;
}

header {
    padding: .75rem;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 2rem;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

#countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.countryCard {
    border: 1px solid gray;
    border-radius: .5rem;
    line-height: 120%;

    font-size: 12px;

    text-decoration: none;

    overflow: hidden;
    cursor: pointer;
    transition: transform 125ms;
    & img {
        width: 100%;
    }
    &:hover {
        transform: scale(1.05);
    }
    & .body {
        padding: .5rem;
    }
    background-color: palegoldenrod;
    &.independent {
        background-color: palegreen;
    }
    &.im {
        filter: grayscale(1) blur(2px) opacity(0.3);
        transition: all 125ms;
        &:hover {
            filter: grayscale(0) blur(0px) opacity(1);
        }
    }
}

.info-card {
}

.fieldset {
    background-color: var(--infoCard);
    padding: .25rem;
    border-radius: .25rem;

    & .key {
        text-align: center;
        background-color: var(--infoCard);
    }
}

.field {
    display: flex;
    gap: .5rem;
    & .prop {
        &::first-letter {
            text-transform: capitalize;
        }
        font-weight: bold;
    }
    & .val {
        /* display: flex;
        flex-direction: column;
        gap: .5rem; */
    }
}

#country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    & #country-head {
        padding-top: 3rem;
    }
    & .flag {
        & img {
            width: 100%;
            margin-bottom: 2rem;
            display: block;
        }
    }
    & #country-body {
        & > * {
            margin-bottom: 1rem;
        }
    }
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        display: flex;

    }
}

.checkbutton {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter {
    display: flex;
    gap: 1rem;
}